.contracts-page {
    .page-title {
        font-size: 1.5rem;
        margin-bottom: 1rem !important;
        font-weight: bold;
        text-transform: uppercase;
    }
    .contracts-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: 300px;
        grid-gap: 1rem;
    }
}
