.user-dashboard {
    display: flex;
    padding: 5rem 10rem 0;

    &__tiles {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: 250px;
        grid-gap: 1rem;
        a {
            max-height: 250px;
            text-decoration: none;
        }

        &__tile {
            background-image: linear-gradient(
                150deg,
                var(--app-color-crystal-black),
                transparent
            );
            color: var(--app-color-text);
            height: 100%;
            display: flex;
            font-weight: bold;

            p {
                margin: auto !important;
                text-transform: uppercase;
            }
        }
    }
    .username {
        font-weight: bold;
        color: var(--app-color-secondary);
    }
}
