.app-navigation {
  border-bottom: 1px solid var(--app-color-border);
  .app-logo {
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }

  .app-intro {
    display: flex;
    h3 {
      margin-right: 10px !important;
    }
  }

  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  align-items: center;

  &__tab {
    padding: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin-right: 1rem;

    &--selected {
      border-bottom: 1px solid;
      font-weight: 900;
    }
  }
}

.tabs-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
}
