.table-style{
    width:"100%";
    border-spacing:0
}
.circle-image{
    border-radius: 100%;
    height: 70px;
    width: 70px;
}
.alignment{
    text-align: center;
}

.square-imageProperty{
    height: auto;
    width: 100%;
}