.property-detail-page {
  display: flex;

  &__title {
    margin-bottom: 1rem !important;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .aside {
    border: 1px solid var(--app-color-border);
    width: 300px;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    max-height: calc(100% - 60px);
    background: white;
    flex-direction: column;

    > div {
      flex: 1;
    }

    .seller-info {
      display: flex;
      border: 1px solid var(--app-color-border);
      flex-direction: column;
      margin: 1rem;
      text-align: center;

      p {
        margin: auto !important;
        font-weight: bold;
      }
    }

    .property-tags {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      &__tag {
        text-align: center;
        padding: 0.35rem 1rem !important;
        border-radius: 25px;
        background: var(--app-color-secondary);
        color: var(--app-color-background);
        font-weight: bold;
        border: none;
        display: inline;
        margin-right: 0.5rem;
        font-size: 0.85rem;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
      }
    }
  }

  .center {
    flex: 1;
    margin-left: 1rem;
    max-width: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    border-radius: 10px;
    max-height: calc(100% - 60px);
    border: 1px solid var(--app-color-border);
    padding: 2rem;

    .image-gallery-wrapper {
      height: 450px;
      overflow: hidden;
      border-radius: 10px;
      background: white;
    }

    .description {
      border-radius: 10px;
      margin-top: 1rem !important;
      min-height: calc(100% - (700px));
      overflow: hidden;
      text-overflow: ellipsis;

      h3 {
        font-weight: bold;
        font-size: 1.2rem;
        margin-bottom: 0.75rem !important;
      }
    }
  }
}
