.home-page {
  .trending {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (max-width: 425px) {
      margin-top: 1rem;
    }
  }
  overflow: scroll;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .trending {
      margin-top: 1rem !important;
    }
  }
}
