.app-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  z-index: 9999;
  background: rgba(7, 7, 7, 0.397);
  left: 0;
  top: 0;
  display: flex;
  color: white;
  font-weight: 900;

  &__inner {
    margin: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
  }
}
