.app-filters {
  margin-top: 5rem;
  width: 100%;

  .app-filter-type {
    text-transform: uppercase;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    border-bottom: 2px solid var(--app-color-border);
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &--selected {
      background: lightgray;
    }
  }
}

@media (max-width: 768px) {
  .app-filters {
    display: flex;
    margin: 1rem 0;
    border-bottom: 2px solid var(--app-color-border);

    .app-filter-type {
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
      border-bottom: none;
    }
  }
}
