.app-filters {
  margin-top: 5rem;

  .app-filter-type {
    text-transform: uppercase;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.25rem;
    font-weight: bold;
    border-bottom: 2px solid var(--app-color-border);
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    &--selected {
      background: lightgray;
    }
  }
}
