.about-us-page {
  display: flex;
  p {
    font-size: 20px;
  }
  .logo {
    height: 150px;
    width: auto;
  }
  .center {
    flex: 1;
  }
}

.container {
  border: 3px solid #80808033;
  padding: 20px;
  height: auto;
  width: 100%;
  margin-top: 2rem;
}
.generalInfo-heading {
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .about-us-page {
    display: flex;
    flex-direction: column;

    .aside {
      width: 100%;
    }
  }
}
